@import "../../../assets//styles/common.scss";

.header {
  .container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    .links {
      @include H18;
      display: flex;
      gap: 3.5rem;
    }
  }
}
