@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@mixin H1 {
  font-size: 7.5rem;
  line-height: 7.5rem;
}
@mixin H18 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}
@mixin H24 {
  font-size: 1.5rem;
  line-height: 2rem;
}
